body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.navbar .container {
  border-radius: 10px;
}

.logo {
  padding: 1rem 2rem;
}

.card,
.card-header {
  border: none;
}

#latest-poll img {
  float: right;
}

.btn {
  box-shadow: none !important;
}

.btn:focus {
  box-shadow: none !important;
}

#imdbpolls thead,
#imdbpolls tfoot,
#imdbpolls tbody tr td {
  text-align: center;
}

#imdbpolls tbody tr td:nth-child(2),
#imdbpolls tfoot tr th:first-child {
  text-align: left !important;
}

footer img {
  width: 100px;
  border-radius: 5px;
}


@media only screen and (max-width: 767px) {
  .navbar .container {
    display: flex;
    justify-content: center;
  }

  .logo {
    padding: 1rem 0;
  }

  footer .container {
    display: grid !important;
    justify-content: center !important;
    text-align: center !important;
    gap: 10px;
  }

  footer .container div:last-child {
    text-align: center !important;
  }
}

@media only screen and (max-width: 512px) {
  #latest-poll img {
    float: none;
    width: 50px;
  }
}